body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#tabelaEventos{
    border: 1px solid #ffffff;
  
}
#novoEvento .row{
    background-color: #12030396;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/* header */
.container {
    background-color: #ffffff80;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: 3px solid #fff;
    border-radius: 45px;
}
.table th{
    border: 2px solid rgb(0, 0, 0);
    background-color: #12030396;

}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove marcadores de lista */
    align-items: center;
    padding: 16px;
}

.navbar li {
    display: inline;
    color: white;
    text-decoration: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px; /* Espaçamento interno */
    border: 2px solid #fff; /* Borda com 2px de espessura e cor branca */
    border-radius: 10px; /* Borda arredondada */
}

.navbar ul li a:hover {
    background-color: aliceblue;
    color: #333;
}

/* eventos */
.col-12 table thead {
    color: #fff;
}
.minhaCor{
    color: rgb(6, 5, 4);
    font-family: Arial, Helvetica, sans-serif;
    
}
.col-12 table tbody {
    color: #fff;
}

.Eventos button:hover {
    background-color: greenyellow;
    color: #333;
}
